body{
    background-color: rgb(8, 6, 43);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.discrib{
    width: 300px;
    margin: auto;
    text-align: center;
    color: blueviolet;
}
.all{
    width: 400px;
    margin: 21px auto 5px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(13, 49, 49);
}
#namaysh{
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 5px;
    border-radius: 4px;
    background-color:rgba(0, 0, 0, 0.623);
    box-shadow: 1px 3px 3px 0.2px rgba(0, 0, 0, 0.726);
}
.number-namaysh{
    font-size: 30px;
}
.rest,
#on-off
{
    width:80px;
    height: 51px;
    margin-top: 5px;
    border: none;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 68, 0, 0.815);
    cursor: pointer;
   
}
.parent_box{
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;

}
.box{
    width: 80px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(43, 226, 226, 0.623);
    transition: 0.3s;
    cursor: pointer;
}
.mosavi{
    width: 48%;
    height: 50px;
    margin-top: 6px;
    line-height: 50px;
    font-size: 100px;
    border-radius: 4px;
    background-color: rgb(0, 128, 90);
    
}
.box:focus{
  border: 1px solid yellow;
}
.mosavi:hover{
    background-color: rgba(25, 88, 18, 0.781);
}
.rest:hover{
    background-color: rgba(255, 196, 0, 0.671);
}
.on-off:hover{
    background-color: rgba(255, 68, 0, 0.897);
}